.dropdown-text  {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


.card-image
{
    object-fit: scale-down;
    height: 300px;
}

@media screen and (min-width: 720px) {
    .cart-restrict-list
    {
        overflow-y: auto;
        max-height: 80vh;
    }
}

.swish-qr
{
    image-rendering: pixelated;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.homepage-image
{
    object-fit: contain;
    height: 400px;
    border-radius: 25px;
}